@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  /* colors */
  --background: #0e1218;
  --text-color: #fff;
  --nav-background: #000;
  --primary-color: #0e1218;

  /* heights */
  --nav-height: 4rem;

  /* font */
  --h1-size: 5.25em;
  --h2-size: 4.5em;
  --h3-size: 3.75em;
  --extra-large-text: 2em;
  --large-text: 1.5em;
  --medium-text: 1.125em;
  --normal-text: 1em;
  --small-text: 0.875em;
  --normal-weight: 400;
  --medium-weight: 500;
  --bold-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #0e1218 100%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: var(--background);
  width: 100vw;
  overflow-x: hidden;
  color: var(--text-color);
  position: relative;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.ctn-navbar {
  background-color: var(--nav-background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  height: var(--nav-height);
  position: fixed;
  width: 100%;
  font-size: var(--normal-text);
}

.ctn-navbar__brand {
}

.ctn-navbar__menu {
  display: flex;
}

.ctn-navbar__menu--item a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: var(--medium-weight);
  margin: 0 32px;
}

.ctn-navbar__menu--item a:last-child {
  margin-right: 0;
}

.ctn-main {
  padding-top: 4rem;
}

.ctn-hero {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

.ctn-hero__greeting {
  font-size: var(--h1-size);
}

.ctn-hero__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 40vw;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.ctn-hero__intro--qr-code {
  margin-top: 32px;
}

.ctn-hero__intro--name {
  font-size: var(--extra-large-text);
  margin: 32px 0;
  font-weight: var(--bold-weight);
}

.ctn-hero__bio {
  display: flex;
  background-color: #fff;
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.ctn-hero__bio li {
  margin-right: 32px;
  color: var(--primary-color);
  padding: 24px;
  font-weight: var(--medium-weight);
  font-size: var(--normal-text);
}

.ctn-hero__bio li:last-child {
  margin-right: 0;
}

.ctn-hero__end {
  display: flex;
  flex-direction: column;
}

.ctn-hero__core-values {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ctn-hero__core-values--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ctn-hero__core-values--number {
  font-size: var(--extra-large-text);
  font-weight: var(--medium-weight);
}

.ctn-hero__core-values--text {
  margin-left: 8px;
}

.ctn-hero__arrow {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.ctn-hero__arrow p {
  transform: rotate(90deg);
  font-size: var(--large-text);
}

.qr-code {
  border: 1px solid #fff;
  padding: 4px;
}

.qr-code img {
  width: 48px;
  height: 48px;
}

/* animations */
.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-11 21:41:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
